body{
    margin:0;
    background-color: rgb(226, 218, 218)
}

h1{
    text-align: center;
    margin: 0;
}

.contenu, section > div{
    justify-content: center;
}

.contenu {
    display: flex;
}

.contenant{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 1vh;
    padding-bottom: 4vh; 
    padding-top: 2vh;
    background-color: rgb(161, 161, 161);
    border-radius: 50px;
    width:25vw;

}

p {
    font-weight: bold;
}

#erreur{
    text-align: center;
    margin: 0;
}

#se_connecter{
    display: flex;
    justify-content: center;
}

#submit{
    appearance: none;
    background-color: #ffffff;
    color: #2a2b38;
    margin-top: 5vh;
    margin-left: 3vw;
    text-align: center;
    font-size: 2vh;
    box-sizing: border-box;
    border-radius: 0.9375em;
    border: none;
    padding: 1rem;
    margin-right: 3vw;
}

#submit:hover {
    color: #2a2b38;
    background-color: #70b5c9;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
#submit:active {
    box-shadow: none;
    transform: translateY(0);
}