body{
    margin:0;
    background-color: rgb(49, 47, 47)
}

main, #se_connecter, #options_connexion, .form{
    display: flex;
    justify-content: center;
}

.form{
    padding-bottom: 7vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 10vh;
    padding-top: 2vw;
    background-color: rgb(240, 196, 131);
    border-radius: 50px;
}

form > div{
    margin-top: 7vh;
}

#options_connexion{
    margin-top: 8vh;
    margin-left: 6vw;
}

p{
    font-size:large;
}

#inscription, #pasmembre{
    color: white
}