body{
    margin:0;
    background-color: rgb(226, 218, 218)
}

#search_barre{
    width: 15vw;
    height: 5vh;
}

#la_barre{
    display:flex;
    align-items: right;
    justify-content: right;
    margin-right: 5vw;
    margin-top: 2vh;
}

#select_type{
    appearance: none;
    background-color: #ffffff ;
    color: #2a2b38;
    text-align: center;
    font-size: 2vh;
    box-sizing: border-box;
    border-radius: 0.9375em;
    border: none;
}




#contenant{
    background-color: gray;
    height: 45vh;
    overflow-y: scroll;
    width: 80vw;
    padding: 3rem;
    margin-left: 7rem;
    margin-right : 7rem;
    margin-top: 4rem;
    border-radius: 0.5375em;
}

#trier{
    margin-top: 5vh;
    margin-left: 2vw;
}

.element_liste_evenements{
    border-radius: 0.9375em;
    background-color: white;
    display: flex;
    margin:1rem;
    align-items: center;
}

.element_liste_evenements > a{
    text-decoration: none;
    color: black;
    margin-left: 3vw;
    margin-top: 5vh;
}

.element_liste_evenements > div{
    min-width: 80%;
    display: flex;
    justify-content: right;
}

.element_liste_evenements > div > p{
    margin-right: 3vw;
}

#trier > p, .element_liste_evenements > a{
    font-size:large ;
}

.element_liste_evenements > a{
    width: 10vw;
}


.button_admin{
    margin-left: 5rem;
}

.button{
    appearance: none;
    background-color: #ffffff ;
    color: #2a2b38;
    text-align: center;
    font-size: 2vh;
    box-sizing: border-box;
    border-radius: 0.9375em;
    border: none;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
  color: #2a2b38;
  background-color: #70b5c9;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}