body{
    margin:0;
    background-color: rgb(226, 218, 218)
}

h1{
    text-align: center;
}

.flex {
    display: flex;
}

#groupe {
    flex-basis: 50%;
}

#groupe div, #types div {
    overflow-y: auto;
    width: 100%;
    background-color: #2a2b38;
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 35vh;
    margin-left: 1rem;
}

#groupe a, #types a {
    flex-basis: 100%;
    margin: 0;
    padding-top: 1.5rem;
    border : solid 1px white;
    color: white;
    font-size:x-large;
    text-align: center;
}