<!DOCTYPE html>
<html>
    <head>
        <title>{{ artiste.nomArtiste }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/header_home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/artiste.css') }}">
    </head>
    <body>
        {% include 'components/header_home.html' %}
        <main>
            <h1>{{ artiste.nomArtiste }}</h1>
            <div class="flex">
                {% if artiste.photoArtiste %}
                    <object data="data:image/jpeg;base64,{{ artiste.photoArtiste.decode('utf-8') }}" type="image/jpeg" id="image_du_groupe"></object>
                {% else %}
                    <img src="{{ url_for('static', filename='images/groupe.jpg') }}" alt="l'image de l'artiste" id="image_du_groupe">
                {% endif %}
                <div id="droite">
                    <h2>Description de l'artiste :</h2>
                    <p>{{ artiste.descriptionArtiste }}</p>
                </div>
            </div>
        </main>
    </body>
</html>