<!DOCTYPE html>
<html>
    <head>
        <title>Groupe</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/header_home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/groupe.css') }}">
    </head>
    <body>
        {% include 'components/header_home.html' %}
        <main>
            <div>
                <div id="titre_groupe">
                    <h1>{{ dico_groupe["groupe"].nomGroupe }}</h1>
                </div>
                {% if est_favorie %}
                    <a href="{{ url_for('remove_favori', id_groupe=dico_groupe['groupe'].idGroupe) }}" class="favoris">Retirer des favoris</a>
                {% else %}
                    <a href="{{ url_for('add_favori', id_groupe=dico_groupe['groupe'].idGroupe) }}" class="favoris">Ajouter aux favoris</a>
                {% endif %}
                {% if admin %}
                    <a href="{{ url_for('hebergement', id_groupe=dico_groupe['groupe'].idGroupe) }}" class="favoris">Gestion de l'hebergement</a>
                {% endif %}
            </div>
            <section class="flex">
                {% if dico_groupe['groupe'].photoGroupe %}
                    <object data="data:image/jpeg;base64,{{ dico_groupe['groupe'].photoGroupe.decode('utf-8') }}" alt="l'image du groupe" type="image/jpeg" id="image_du_groupe"></object>
                {% else %}
                    <img src="{{ url_for('static', filename='images/groupe.jpg') }}" alt="l'image du groupe" id="image_du_groupe">
                {% endif %}
                <div id="droite">
                    <h2>Description du groupe :</h2>
                    <p>{{ dico_groupe["groupe"].descriptionGroupe }}</p>
                    <div>
                        <h2>Groupe composé de :</h2>
                        <div id="artistes">
                            {% for artiste in dico_groupe["artistes"] %}
                                <a href="{{ url_for('artiste', id_artiste=artiste.idArtiste) }}">{{ artiste.nomArtiste }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="flex">
                <div id="styles">
                    <h2>Styles de musique :</h2>
                    <div>
                        {% for style in dico_groupe["types_musique"] %}
                            <a href="{{ url_for('type_musique', id_type_musique=style.idTypeMusique) }}">{{ style.nomTypeMusique }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h2>Instruments utilisés :</h2>
                    <div>
                        {% for instrument in dico_groupe["instruments"] %}
                            <p>{{ instrument.nomInstrument }}</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h2>Les événements :</h2>
                    <div id="contenant">
                        {% for event in dico_groupe["evenements"] %}
                            <div class="element_liste_evenements">
                                <a href="{{url_for('event', id_event=event.idEvenement)}}">{{ event.nomEvenement}}</a>
                                <div>
                                    <p>{{ event.heureEvenement }}</p>
                                    {% set hours = int(event.dureeEvenement) %}
                                    {% set minutes = int((event.dureeEvenement - hours) * 60) %}
                                    <p>{{ hours }}h{{ minutes }}min</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section id="video">
                <iframe src="{{ dico_groupe['groupe'].lienVideoGroupe }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
            <div id="lien">
                <a href="{{ dico_groupe['groupe'].lienReseauxGroupe }}">Retrouvez le groupe sur ce lien !</a>
            </div>
        </main>
    </body>
</html>