<!DOCTYPE html>
<html>
    <head>
        <title>Billeterie</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/header_home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/search_ticket.css') }}">
    </head>
    <body>
        {% include 'components/header_home.html' %}
        <main>
            <h1>Billeterie</h1>
            <section>
                {% for billet in types_billet %}
                    <div class="element_liste_billet">
                        <a href="{{ url_for('ticket', id_billet=billet.idBillet) }}" class="lien_choix">
                            <p id="titre">{{ billet.nomBillet }}</p>
                            <p>{{ billet.prixBillet }}€</p>
                            <p>Pour {{ billet.nbJoursBillet }} jour(s)</p>
                        </a>
                    </div>
                {% endfor %}
            </section>
        </main>
    </body>
</html>