<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Evenement</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/header_home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/search_event.css') }}">
        <script type="module" src="{{ url_for('static', filename='JS/search_event.js') }}"></script>
    </head>
    <body>
        {% include 'components/header_home.html' %}
        <main>
            <section>
                <div id="trier">
                    <p>Type d'événement : </p>
                    <div >
                        <select name="type_evenement" id="select_type">
                            <option value="all">Tous</option>
                            {% for type in types %}
                                <option value="{{ type.idTypeEvenement }}">{{ type.nomTypeEvenement }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if admin %}
                    <div>
                        <a href="#">
                            <button>Ajouter un événement</button>
                        </a>
                    </div>
                {% endif %}
                <div id="la_barre">
                    <form action="{{ url_for('search_event') }}" method="post" role="search">
                        <input type="search" name="search" placeholder="Rechercher" id="search_barre">
                    </form>
                </div>
            </section>
            <section id="contenant">
                {% for event in events %}
                    <div class="element_liste_evenements">
                        <a href="{{url_for('event', id_event=event.idEvenement)}}">{{ event.nomEvenement}}</a>
                        <div>
                            <p>{{ event.heureEvenement }}</p>
                            {% set hours = int(event.dureeEvenement) %}
                            {% set minutes = int((event.dureeEvenement - hours) * 60) %}
                            <p>{{ hours }}h{{ minutes }}min</p>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </main>
    </body>
</html>