<!DOCTYPE html>
<html>
    <head>
        <title>Billet {{ billet.nomBillet }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/header_home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/ticket.css') }}">
        <script type="module" src="{{ url_for('static', filename='JS/ticket.js') }}"></script>
    </head>
    <body>
        {% include 'components/header_home.html' %}
        <main>
            <h1>Billeteri</h1>
            <section>
                <div>
                    <h2>{{ billet.nomBillet }}</h2>
                    <p>{{ billet.caracteristiqueBillet }}</p>
                    <p>Au prix de {{ billet.prixBillet }}€</p>
                    <p>Pour {{ billet.nbJoursBillet }} jour(s)</p>
                    <div>
                        <p>Choisissez la date de début de validité</p>
                        <select name="date" id="select_date">
                            {% for date in dates %}
                                <option value="{{ date }}">{{ date }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button id="valider">Valider</button>
            </section>
        </main>
    </body>
</html>