<!DOCTYPE html>
<html>
    <head>
        <title>{{ type_musique.nomTypeMusique }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/header_home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/type_musique.css') }}">
    </head>
    <body>
        {% include 'components/header_home.html' %}
        <main>
            <h1>{{ type_musique.nomTypeMusique }}</h1>
            <div>
                <h2>Description : </h2>
                <p>{{ type_musique.caracteristiqueTypeMusique }}</p>
            </div>
            <section class="flex">
                <div id="groupe">
                    <h2>Les groupes :</h2>
                    <div>
                        {% for groupe in groupes %}
                            <a href="{{ url_for('groupe', id_groupe=groupe.idGroupe) }}">{{ groupe.nomGroupe }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div id="types">
                    <h2>Vous pourriez aussi aimer : </h2>
                    <div>
                        {% for type_musique in types_musique %}
                            <a href="{{ url_for('type_musique', id_type_musique=type_musique.idTypeMusique) }}">{{ type_musique.nomTypeMusique }}</a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>